version: '3.8'

services:
  facilitator:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  publisher:
    image: mysten/walrus-service:main-arm64
    container_name: walrus-publisher
    restart: no
    ports:
      - "9002:9002"
    volumes:
      - ./walrus_config:/root/.walrus
    command: >
      /opt/walrus/bin/walrus publisher --config /root/.walrus/suiconfig.yaml --bind-address 0.0.0.0:9002 --sub-wallets-dir /root/.walrus/

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  redis_data:
